

    <div class="jumbotron">
        <h1>CPA02: Football Match Finder (2020-2021 Season) </h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
        The objective of this application is to be able to find a specific match (including date, round, and team names) from a large database. 
    </p>
    
    <% if (true) {%>  
        <form method="post" action="/footballs/byDate">
            Show Matches by Date: 
            <input type="text" name="date" 
                   placeholder="e.g. 2020-09-14">
          <input type="submit">
        </form>
        <br>
        <form method="post" action="/footballs/byRound">
            Show Matches by Round: 
            <input type="text" name="round" 
                   placeholder="e.g. Matchday 1">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/footballs/byTeam1">
            Show Matches by Team: 
            <input type="text" name="team1" 
                   placeholder="e.g. Chelsea FC">
            <input type="submit">
        </form>
        <br>
    <% } %>


